body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
textarea {
  width: 100%;
  height: 200px; /* Percentage doesn't seem to work here */
  padding: 3px;
}

/* JQuery Tools overlay */
#overlay {
  /* must be initially hidden */
  display:none;
  /* place overlay on top of other elements */
  z-index:10000;
  /* styling */
  background-color:#fff;
  padding: 8px;
  width:675px;
  min-height:200px;
  border:1px solid #ccc;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}
/* close button positioned on upper right corner */
#overlay .close {
    background-image:url(../img/overlay/close.png);
    background-repeat:no-repeat;
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    /* conflicts with bootstrap */
    opacity:1;
}
